{#
	DRUPAL: This template is embedded into the Drupal gallery paragraph template.
#}


{% block plGalleryStart %}
    <div class="paragraph--gallery">
{% endblock %}

{% block galleryContent %}

    {% if widget_title %}
        <h3 class="widget-title">{{widget_title}}</h3>
    {% endif %}


        <div class="gallery-type {{gallery_type}}" >

        <div class="gallery-wrapper">
            {% if 'Lightbox' in gallery_type %}

                {% block lightboxContent %}
                    {% for image in images %}
                        <div class="featherlight-gal image-gal" href="#item{{image.id}}">
                            <img src="{{image.src}}" />
                            <div class="featherlight-hidden" id="item{{image.id}}">
                                <img src="{{image.src}}" />
                            </div>
                        </div>
                    {% endfor %}
                {% endblock %}

            {% else %}

            etst
                {% block sliderContent %}

                test

            =

                {% endblock %}

            {% endif %}

        </div> {# end gallery-wrapper #}
    </div> {# end gallery-type #}

{% endblock %}

{% block plGalleryEnd %}
    </div>
{% endblock %}
