
{{gallery_instructions}}

{% block plgallerystart %}
	<div class="paragraph--type--gallery">
{% endblock %}

  {% block galleryContent %}


    {% if widget_title %}
      <h3 class="widget-title">{{widget_title}}</h3>
    {% endif %}

    <div class="gallery-type {{ gallery_type }}">

      {% if gallery_type == "lightbox" %}

      lightbox gallery
        {% for image in images %}
          <div class="featherlight-gal image-gal" href="#item{{image.id}}">
            <img src="{{image.src}}" />

            <div class="featherlight-hidden" id="item{{image.id}}">
              <img src="{{image.src}}" />
            </div>
          </div>
        {% endfor %}

      {% else %}

      slider gallery
        {% block sliderContent %}
          {% for image in images %}
            <div class="slider-image">{{ image.src }}</div>
          {% endfor %}
        {% endblock %}

      {% endif %}

    </div>

  {% endblock %}

{% block plgalleryclose %}
	</div>
{% endblock %}
