{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}

{% import "@base/global/05-macros/macros.twig" as styles %}

{%
  set classes = [
    'layout',
    'layout--twocol-sidebar',
    styles.sidebar
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.content %}
      <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content') }}>
        {{ content.content }}
      </div>
    {% endif %}
    {% if content.sidebar %}
      <div {{ region_attributes.sidebar.addClass('layout__region', 'layout__region--sidebar') }}>
        {{ content.sidebar }}
      </div>
    {% endif %}
  </div>
{% endif %}
